
*.sql
build/tmp/compileJava/compileTransaction/stash-dir/UserRepository.class.uniqueId0
build/tmp/compileJava/previous-compilation-data.bin
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
HELP.md
src/main/resources/application-dev.properties
src/main/resources/application-local.properties
src/main/resources/application.properties
/.idea/modules/Blog.main.iml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.8/checksums/checksums.lock
/.idea/compiler.xml
/.idea/dataSources.xml
/.gradle/8.8/executionHistory/executionHistory.bin
/.gradle/8.8/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.8/fileHashes/fileHashes.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.gradle/8.8/fileChanges/last-build.bin
/.gradle/8.8/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.8/fileHashes/resourceHashesCache.bin
/.gradle/8.8/checksums/sha1-checksums.bin
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/.gitignore
